<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/perfil.jpg" alt="">
      <p>Desenvolvido por: Rafael Guidi</p>
      <p>Criado em: 02/2020</p>
    </div>
    {{>footer}}
  </body>

</html>