* {
  font-size: 10px;
}

html {
  background-color: #333333;
}

body {
  color: #333333;
  font-family: Arial;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body p {
  font-size: 1.4rem;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 1.6rem;
  padding: 1.6rem 0;
}

.menu-navi a {
  font-size: 1.6rem;
}

header {
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
}

header a {
  color: #888888;
  margin-right: 1.6rem;
  text-decoration: none;
}

.portrait {
  width: 15rem;
}

.form-search {
  margin-bottom: 5rem;
}

input {
  border: 1px solid #cccccc;
  padding: .8rem;
  border-radius: 5px;
  font-size: 1.4rem;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: #ffffff;
  padding: .8rem;
  border-radius: 5px;
  font-size: 1.4rem;
}

button:hover {
  background-color: #949494;
}

#message-1,
#message-2 {
  font-size: 1.2rem;
}